#header {

}

.header-top {
	background-color: $Primary-text;
	top: -100px;
	&.fix {
		position: fixed;
		top: 0;
		left: 0; right: 0;
		z-index: 9999999;
		transition: top 0.3s;
	}
}

.header-top__wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding-left: 5px;
	@media all and (min-width: map-get($breakpoints, 'desktop')) {
		height: 100px;
	}
}

.header__navigation {
	@media all and (min-width: map-get($breakpoints, 'maxscreen')) {
		position: relative;
		left: 45px;		
	}
}